<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<title>
    Online Movie Tickets Booking - softAOX
</title>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="logo">
                <img src="img/softaox_movie.svg" width="150px" />
            </div>
            <h1>Online Movie Tickets Booking</h1>
        </div>

        <div class="row d-flex justify-content-center">
            <form class='bookingTicket'>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Select Movie:</label>
                            	<select class="form-control" id='name' required="required">
								<option disabled selected value>Select any movie</option>
                                <option value="Avengers">Avengers</option>
                                <option value="Thor">Thor</option>
                                <option value="Deadpool">Deadpool</option>
                                <option value="Doctor Strange">Doctor Strange</option>
                                <option value="Captain Marvel">Captain Marvel</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="seats">How Many Seats?</label>
                            <select class="form-control" id='seats' required="required">
								<option disabled selected value>Select Seats</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<span class="message"></span>
						</div>
					</div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-sm nextButton" id="continueBooking">Continue</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="ticketBox">

                <div class="col-md-12">
                    <div class="screen-map">
                        <label for="availableRoot">Selected Seat</label>
                        <img src="img/selected.png" class="selectedRoot" id="selectedRoot">
                        <label for="">Booked Seat</label>
                        <img src="img/booked.png" class="bookedRoot" id="bookedRoot">
                        <label for="">Available Seat</label>
                        <img src="img/available.png" class="availableRoot" id="availableRoot">
                    </div>
                </div>


                <div class="col-md-12">
                    <table class="table table-striped" id="table-screen">
                        <thead id="screen-head">
                            <tr>
                                <script type="text/template" id='displayTickets'>
                                    <% _.each(_.range(0,columns+1),function(item){ %>
                                        <% if(item==0) {%>
                                            <th></th>
                                            <% } else {%>
                                                <th>
                                                    <%= item %>
                                                </th>
                                                <% } %>
                                                    <% }) %>
                                </script>
                            </tr>
                        </thead>
                        <tbody id="screen-body">
                            <script type="text/template" id='displaybodyTickets'>
                                <% _.each(rows,function(row){ %>
                                    <tr id='displayscreenTickets'>
                                        <td>
                                            <%=row%>
                                        </td>
                                        <% _.each(_.range(1,columns+1),function(column){ %>
                                            <% var id=(_.indexOf(rows,row)*columns)+column; var seatsBooked=JSON.parse(localStorage.getItem('seatsBooked')); if(seatsBooked!=null && _.indexOf(seatsBooked,String(id))!=-1) {%>
                                                <td><img src="img/booked.png" class="reserved-seat" id="<%=id%>" /></td>
                                                <% }else {%>
                                                    <td><img src="img/available.png" class="empty-seat" id="<%=id%>" /></td>
                                                    <% }}) %>
                                    </tr>
                                    <% }) %>
                            </script>
                        </tbody>
                    </table>
				</div>
				
                <div class="col-md-12">
						<div id="screen">
							<span color="white">Screen This Way</span>
						</div>
					</div>
	
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-success btn-sm nextButton" id="confirmSelection">Book Now</button>
                </div>

            </div>

        </div>

        <div class="row d-flex justify-content-center">

            <div class="table-responsive booked_list">
				<h4 align="center">Tickets Booked</h4>
				<br/>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movies Name</th>
                            <th>Number of Seats</th>
                            <th>Seats</th>
                        </tr>
                    </thead>
                    <tbody id="soldMessage">
                        <script type="text/template" id='ticketMessage'>
                            <% _.each(items,function(item){%>
                                <tr>
                                    <td>
                                        <%-item.names%>
                                    </td>
                                    <td>
                                        <%-item.numbers%>
                                    </td>
                                    <td>
                                        <%-item.seats%>
                                    </td>
                                </tr>
                                <%})%>
                        </script>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/core.js"></script>
</html>